.body {
	background: url('fondo.jpg') no-repeat !important;
	background-attachment: fixed !important;
	background-size: 100% !important;
}
.login {
	width: 350px;
	margin: auto;
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	height: 280px;
	box-shadow: 2px 2px 10px #3E3E3E, -2px -2px 10px #3E3E3E;
}
span.fa-user {width: 16px}
nav {margin-bottom: 30px !important;}
.container { width: 90% !important }
.row { margin-bottom: 30px }

input.test {
	display: inline;
	border-bottom: 1px dotted #BBBBBB !important; 
}

ul li { list-style-type: none  }

.peq {
	width: 50%;
}
.med {
	width: 65%
}
.gra {
	width: 95%;
} 
ul.default li{ list-style-type: initial; }
.bd-lead { margin-top: 20px }